[{sasl,[{errlog_type,error}]},
 {guardian,
     [{'Elixir.Guardian',
          [{issuer,<<"Dora">>},
           {ttl,{30,days}},
           {verify_issuer,true},
           {serializer,'Elixir.Dora.GuardianSerializer'}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {dora,
     [{ecto_repos,['Elixir.Dora.Repo']},
      {'Elixir.Dora.Endpoint',
          [{secret_key_base,
               <<"JARjQvuD2ODpuvkLKgXxrPhS8dVl+khee8l5gy04O8JbfkiVePGPbdcE5ACDhbOY">>},
           {render_errors,
               [{view,'Elixir.Dora.ErrorView'},{accepts,[<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Dora.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"localhost">>},{port,4001}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>}]},
      {'Elixir.Dora.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"nguyen">>},
           {database,<<"dora_dev">>},
           {hostname,<<"localhost">>},
           {pool_size,10}]}]}].
